node_modules/
roms
roms*/
pcejs-build-config.json
build/
build-native/
pce-js/
/systems
dist/

# examples system files
example/**/*.rom
example/**/*.qed
example/**/*.img
example/**/*.st
example/**/*.psi
example/**/*.cfg
